.btn {
  background-color: $mainBlue;
  color: white;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
}

.btn-orange {
  background-color: $orange;
}

.btn-title{
  background-color: $orange;
  font-size: 1.25rem;
  padding: .75rem 1.9rem;
  display: inline-block;
}
